@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
    /* fonts */
    --color-blue: #0C2BD7;
    --color-brown: #FD7747;
    --color-gray:  #7E868F;
    --color-darkBlue: #0A0933;
}